@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-goldman: var(--font-goldman)
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-goldman), sans-serif;
  font-style: normal;
}

/* --- MEDIA QUERY: Włącz tło TYLKO od breakpointu LG (1024px) --- */
@media (min-width: 768px) {
  body {
    background: linear-gradient(
      90deg,
      #000 0%,
      /* Lewa strona - czarny */ #1e3a8a 50%,
      /* Środek - ciemnoniebieski */ #000 100% /* Prawa strona - czarny */
    );
  }
}

/* in order to switch on problems with @theme underlying reference
    vs settings -> settings -> command line unknown -> CSS>LInt: Unknown At Rules 'warning' or 'ignore'
*/
